* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $text-primary;
  background: $content-bg;
}

#app {
  height: 100vh;
}

.el-header,
.el-main {
  padding: 0;
}
